body {font-size: 16px; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
div {
	/* position:inherit; */
	position:relative;
	box-sizing:border-box;
	display:block;
	vertical-align:top;
	border-radius:2px;
	padding:2px;
	user-select: none;
	overflow:hidden;
	white-space:pre-wrap;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
	opacity:1;
}
table,th,td {
	border-collapse:collapse;
	border-spacing: 0px;
}
th,td {
	padding:0px;
	border:1px solid #bbbbbb;
	height:1em;
}
@-moz-document url-prefix() { td { height: 100%; } }
[contenteditable=true] {background-color:white;width:100px;padding-left:5px;padding-right:5px;border:solid 1px lightgray}
[contenteditable=true]:focus {box-shadow: 0px 0px 5px 1px rgba(79,155,247,1)}


.lvl_0 {position:relative;padding:0px;margin:0px}



/* .frame {padding:0px} */
/* .main {padding:0px} */
.sep {display:inline-block;width:0px;height:0px;padding:0px;visibility:hidden}
.key {display:inline-block;margin-right:5px; font-weight:bold}
.key:empty {margin-right:0px;visibility:hidden;padding:0px;width:0px;border:none}
.content {display:inline-block;}
/* .key:not(:empty):after {content:":"} */
/* .content:not:empty:before {content:":"} */


.object.main {display:block;}
.object.key {text-align:left;display:block;}
.object.content {box-shadow: rgb(0, 0, 0) 1px 1px 3px 0px;}
.object.content:empty {height:3em;}

/* .string.main {padding:5px} */
.string.key {display:inline-block;}
/* .string.sep {display:inline-block;width:0px;height:.5em;padding:0px;} */
.string.content {
	display:inline-block;
	/* padding:5px; */
}
.string.content[contenteditable=true] {background-color:white;width:60%;box-shadow: 0px 0px 5px 1px rgba(79,155,247,1);font-family:monospace}
/* .string.content[contenteditable=true] {background-color:white;width:100px;box-shadow: 0px 0px 5px 1px rgba(79,155,247,1);} */

/* .number.main {padding:5px} */
.number.key {display:inline-block;}
/* .number.sep {border-right:dashed 1px #bbf;display:inline-block;width:0px;height:.5em;padding:0px;} */
/* .number.sep {display:inline-block;width:0px;height:.5em;padding:0px;} */
.number.content {
	display:inline-block;
	/* padding:5px; */
}
/* .number [contenteditable=true] {background-color:white;width:100px;padding-left:5px;padding-right:5px;box-shadow: 0px 0px 5px 1px rgba(79,155,247,1);} */

.progress {width:200px;border:solid 1px gray;display:table-cell;vertical-align:bottom;background-color:lightgray}
.progressbar {z-index:1;display:inline;background-color:rgba(0,0,0,.5);position:absolute;height:100%;width:100%;left:0px;bottom:0px;border-radius:0px;margin:0;padding:0;}
/* .progresstic {z-index:2;position:absolute;background-color:black;width:1px;margin:0;padding:0;top:2px;bottom:2px;} */
.progressval {z-index:3;display:inline;bottom:0px;color:white}

.progressbar.bad {background-color:rgba(255,0,0,.5)};


/* buttons */
.boolean.sep {width:0px}
/* .boolean.sep {width:5px} */
.boolean.key {font-weight:normal}
.boolean[_select="-1"] .key {min-width:100px;text-align:center}
.boolean.main {
	direction:rtl;
	display:inline-block;
	padding:.4em;
	min-height:2em;
	min-width:2em;
    color:#444;
    border:1px solid #BBB;
    background-color:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    /* max-width: 100px; */
    text-align: center;
	border-radius:4px;
}
.boolean[_select="-1"] .content {width:0px;padding:0px;margin:0px;}
.boolean[_select="-1"].main:active {
    color:red;
    border:1px solid #DDD;
	background-color:#BBB;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.boolean.main:after {content:none}

.boolean[_select="1"] {padding:0px}
/* .boolean[_select="1"] .frame {display:table-row;} */
/* .boolean[_select="1"] .main {display:table-cell;} */
/* .boolean[_select="1"] .sep {width:0px;height:0px;visibility:hidden} */
.boolean[_select="1"].main {
	padding:.5em;
    color:#444;
    border:1px solid #CCC;
    background:white;
    /* box-shadow: 0 0 5px -1px rgba(0,0,0,0.2); */
    cursor:pointer;
    /* vertical-align:middle; */
    /* max-width: 100px; */
    text-align: left;
}
.boolean[_select="1"] .content:before {content:"\029be";padding-left:7px;padding-right:7px;}
.boolean[_select="1"] .content:after {content:none}
/* .boolean[_select="1"][_selected="1"].main {background:#ddeeff;} */
.boolean[_select="1"][_selected="1"] .content:before {content:"\029bf";padding-left:7px;padding-right:7px;}

.boolean[_select="2"] {padding:0px}
/* .boolean[_select="2"] .frame {display:table-row;} */
/* .boolean[_select="2"].main {display:table-cell;} */
/* .boolean[_select="2"] .sep {width:0px;height:0px;visibility:hidden} */
.boolean[_select="2"].main {
	padding:.5em;
    color:#444;
    border:1px solid #CCC;
    background:white;
    /* box-shadow: 0 0 5px -1px rgba(0,0,0,0.2); */
    cursor:pointer;
    /* vertical-align:middle; */
    /* max-width: 100px; */
    text-align: left;
}
.boolean[_select="2"] .content:before {content:"\2610";padding-left:7px;padding-right:7px;text-decoration:none;font-style:normal;font-weight:normal}
.boolean[_select="2"] .content:after {content:none}
.boolean[_select="2"][_selected="1"] .content:before {content:"\2611";padding-left:7px;padding-right:7px;text-decoration:none;font-style:normal;font-weight:normal}

.main[_selected="1"] {background:#ddeeff !important ;}
/* .boolean[_select="2"][_selected="1"].main {background:#ddeeff;} */


/* div.table.content {display:table} */
/* div.tableRow.main {display:table-row; width:auto} */
/* .tableRow div.frame {display:table-cell} */
/* .table[_head="1"] div.tableRow.main:first-child{ */
	/* border-bottom:solid 2px gray; */
	/* font-weight:bold; */
	/* position:sticky; */
	/* top:0px; */
	/* background:#aabbff; */
	/* z-index:1; */
/* }  */

.table{
	border-collapse:collapse;
	border-spacing: 0px;
	padding:0px;
}
.table.content {height:100%}
td .main:first-child {border-radius:0px}

/* .table[_head="1"] tr:first-child{ font-weight:bold; background:#aabbff; z-index:1;vertical-align:bottom}  */
/* .table[_head="1"] tr:first-child td .main:first-child {z-index:1;background:white;height:100%;border-bottom:solid 2px gray;}  */

.table[_head="1"] .tableRow:first-child{ font-weight:bold; background:#aabbff; z-index:1;vertical-align:bottom} 
.table[_head="1"] .tableRow:first-child .main:first-child {z-index:1;background:white;height:100%;border-bottom:solid 2px gray;} 

/* .table[_head="1"] .tableRow:first-child {position:sticky;top:0px;}  */

/* .table.key {display:block} */
/* .table.frame {padding-top:40px} */
/* .table tr:first-child{position:absolute;top:0px} */



.path.content {height:100px;}
svg {position:absolute;left:0px;top:0px;width:100%;height:100%;}

._task {
	position:fixed;
	left:0px;top:0px;
	background-color:white;
	border:solid 1px gray;
	border-radius:5px;
	font-size:1em;
	font-family:"Verdana";
	display:block;
	margin:20px;
	padding:20px;
	text-align:left;
}
.hasInstructions {margin-bottom:0px;border-left:solid 1px gray;background-color:white;border-radius:0px;}

.bad {
	color:red;
	/* background-color:red; */
	/* background-color:rgba(255, 0, 0, 0.3); */
	/* margin:0px; */
	/* position:absolute; */
	/* left:0px; */
	/* top:0px; */
}

.disabled {pointer-events:none; opacity:.5; contenteditable:false}

.emp1 {font-weight:bold}
.emp2 {font-weight:bold;font-style:italic}
.emp3 {font-weight:bold;font-style:italic;text-decoration:underline}
.emp4 {font-weight:bold;font-style:italic;text-decoration:underline;font-size:110%}
.emp5 {font-weight:bold;font-style:italic;text-decoration:underline;font-size:120%}

.emp10 {background-color:rgba(255,255,0,.2)}
.emp20 {background-color:rgba(255,255,0,.4)}
.emp30 {background-color:rgba(255,255,0,.6)}
.emp40 {background-color:rgba(255,255,0,.8)}
.emp50 {background-color:rgba(255,255,0,1)}


.xy.frame {position:absolute;padding:0;overflow:visible}
.xy.main {position:relative;padding:0;overflow:visible}

.id___main__.frame {display:table; width:100%; height:100%;}
.id___main__.main { width:100%; height:100%;}
.id___main__.content {display:block; background-color:#eff8ff;  width:100%; height:100%;}

.id___pp__.frame { display:table; width:100%; height:100%;left:0;top:0;position:fixed;background-color:rgba(255,255,255,0.6)}
.id___pp__.main { display:table-cell; vertical-align:middle; text-align:center;}
.id___pp__.content { display:inline-block; background-color:#aabbcc;  padding:20px; border-radius:10px;}

/* .id__title {position:fixed;left:0px;top:0px;width:100%;} */
.id_titlebar {background-color:white; font-size:10pt; padding:0; margin:0px; border-radius:0px; display:block; position:relative; top:-5px}
.id_titlebar .lvl_2 {display:table-cell; padding:2; position:relative;}
.id_titlebar .lvl_3 {display:inline; padding:0; position:relative; }
.id_titlebar .lvl_3 .progress {display:inline-block;}

.lvl_2.frame {display:inline-block;}